*{
	font: 1em Roboto;
}
header{
	width: 100%;
	height: 65vh;
	background: url(images/image10-1.jpg);
	background-position: center;
	background-size: cover;
}
.header-title{
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	height: 300px;
	font-family: Roboto;
	color: white;
	top: 32%;
	left: 24%;
	transform: (50%, 50%)
}
#activities-header{
	height: 65vh;
	background-color: rgba(0,0,0,0.2);
}
section{
	width: 80%;
	margin: 0 auto;
}
section .align-divs{
	width: 100%;
	display: flex;
}
.align-divs #text-div{
	width: 69%;
	padding-right: 20px;
}
.align-divs #image-div{
	width: 31%;
}
.align-divs #image-div img{
	width: 100%;
	padding: 15px 0 0 0;
}
p{
	text-align: justify;
}