*{
	font: 1em Roboto;
}
header{
	width: 100%;
	height: 65vh;
	background: url(images/image11-1.jpg);
	background-position: center;
	background-size: cover;
}
.header-title{
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	height: 300px;
	font-family: Roboto;
	color: white;
	top: 32%;
	left: 20%;
	transform: (50%, 50%)
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container .full-div{
	width: 100%;
	display: flex;
}
.container .image-div{
	width: 35%;
}
.container .image-div img{
	width: 100%;
	padding-top: 28px;
}
.container .para-content{
	width: 65%;
	padding: 0 0 30px 20px;
	font-size: .88em;
	text-align: justify;
}
.container .para-content h3{
	font-weight: bolder;
	color: #27bcad;
	font-size: 22px;
	padding: 0;
}
.container .para-content .para-content-link{
	padding: 5px 10px;
	border: 2px solid orange;
	transition: .2s linear;
}
.container .para-content .para-content-link:hover{
	text-decoration: none;
	background-color: orange;
	color: #000;
}