html, body{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: url(images/Adams-Peak.jpg) no-repeat 50% 50%;
	background-size: cover;
}
nav{
	position: fixed;
	width: 100%;
}
.upper_navbar{
	background: #0a1a56;
}
.menu1 ul{
	list-style: none;
	width: 90%;
	margin: 0px auto;
	padding: 0;
	transition: 1s;
}
.menu1 ul li{
	display: inline-block;
	padding: 10px 0px;
}
.menu1 ul li a{
	color: #fff;
	font-family: Roboto;
	font-size: 13px;
	padding: 11px 20px;
	font-weight: 300;
	text-decoration: none;
	transition: 0.3s;
}
.lower_navbar{
	background: rgba(0,0,0,0.8);
}
.menu-icon{
	width: 100%;
	z-index: 999;
	right: 20px;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 20px;
	cursor: pointer;
	color: #fff;
	display: none;
}
.logo{
	position: fixed;
	width: 52%;
	margin: 0;
	padding: 15px;
}
.logo img{ 
	width: 20%;
}
.lower_navbar_content{
	width: 90%;
	margin: 0px auto;
	padding: 0;
}
.menu2 ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	transition: 1s;
	z-index: 999;
}
.menu2 ul li{
	display: inline-block;
	padding: 25px 0px;
	text-transform: uppercase;
}
.menu2 ul li a{
	color: #fff;
	font-family: Roboto;
	padding: 12px 15px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.7px;
	text-decoration: none;
	transition: 0.2s;
}
.fa-caret-down{
	margin-left: 5px;
}
@media(max-width: 600px){
	.logo{
		position: fixed;
		top: 0;
		margin-top: 20px;
		padding: 20px 15px;
	}
	.logo img{
		margin-top: 8px; 
		width: 64%;
	}
	.menu1 ul{
		text-align: center;
	}
	.menu1 ul li{
		padding: 10px 15px;
	}
	.menu1 ul li a{
		font-size: 12px;
	}
	.menu2 ul{
		text-align: center;
		max-height: 0px;
		display: none;
		background: #000;
	}
	.showing{
		max-height: 20em;
		display: block;
		transition: 0.5s;
	}
	.menu2 ul li{
		background: #000;
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
	.menu2 ul li a{
		font-size: 15px;
	}
	.menu-icon{
		display: block;
	}
}
.menu1 ul li a:hover{
	background: #3eaeef;
}
.menu2 ul li a:hover{
	background: #717577;
}